@page "/bonsai"
@inject HttpClient Http

    <div @onkeypress="KeyHandler">
        <div @onmousemove="mouse_test">
        
        <button @onclick="class_test">Test class</button>
        <button @onclick="bonsai_test">Test Bonsai</button>
        <button @onclick="manual_test">Manual Test</button>
        <h1>Value counter -- @value</h1>
        <h2>Value2 counter -- @value2</h2>
        <h3> Mouse locatio -- @mouse</h3>

        @if (xml_data.data == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <p>@xml_data.data</p>
        }

        @code {


            public void KeyHandler(KeyboardEventArgs e)
            {
                testc.event_source.Subject.OnNext(e);
                class_test();
            }

            public int value;
            private int value2;
            private int mouse;
            Bonsai_func testc = new Bonsai_func();
            private void class_test()
            {
                value2 = testc.value2;
            }

            private void manual_test()
            {

                testc.Launch_key();
                value2 = testc.value2;
            }

<<<<<<< HEAD
            private void mouse_test()
            {
                testc.Launch_mouse().Subscribe(x => { mouse = (int)x; StateHasChanged(); });
            }
=======
        protected override async Task OnInitializedAsync()
        {
            xml_data.data = await Http.GetStringAsync("Bonsai_files/keypress.bonsai");
        }
>>>>>>> master

            private void bonsai_test()
            {
                testc.Launch(xml_data.data).Subscribe(x => { value = (int)x; StateHasChanged(); });
                //value = testc.value;
            }


            protected override async Task OnInitializedAsync()
            {
                xml_data.data = await Http.GetStringAsync("Bonsai_files/timer.bonsai");
            }


            public class xml_data
            {
                public static string data { get; set; }
            }

        }
    </div>
    </div>
